{% extends "blog/base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-12">
                <h2 class="mb-4">Thông tin về Web App</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Home</h4>
                            <p>Hiển thị các bài đăng mới nhất, nổi bật.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Profile</h4>
                            <p>Hiển thị thông tin cá nhân của người dùng.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>About</h4>
                            <p>Hiển thị thông tin về ứng dụng.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Create Jobs</h4>
                            <p>Tạo bài đăng tuyển dụng.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>My Posted Jobs</h4>
                            <p>Hiển thị các bài đăng tuyển dụng đã tạo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Search</h4>
                            <p>Tìm kiếm thông tin về công việc</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Resume Matcher</h4>
                            <p>Xem độ phù hợp giữa hồ sơ cá nhân và yêu cầu tuyển dụng.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">Dự kiến phát triển thêm</h2>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Chat</h4>
                            <p>Trò chuyện giữa ứng viên và nhà tuyển dụng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Email Authentication</h4>
                            <p>Gửi tin nhắn xác thực về email người dùng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Application Process</h4>
                            <p>Xem trạng thái ứng tuyển của công việc.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Filter</h4>
                            <p>Bộ lọc các loại công việc như: Fulltime hay Partime; Intern, Junior và Senior,...</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="p-3 border rounded shadow-sm">
                            <h4>Chatbot</h4>
                            <p>Trợ lí AI giúp ứng viên hỏi về các job, nhà tuyển dụng hỏi về thông tin các hồ sơ và chọn ra top đầu hồ sơ phù hợp.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
