{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>Recruitment Platform - {{ title }}</title>
    {% else %}
        <title>Recruitment Platform</title>
    {% endif %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog-home' %}">
                        <img src="{% static 'blog/images/logo2.png' %}" alt="Logo" style="height: 50px; margin-right: 8px;">
                        <i class="fas fa"></i> Home <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <form id="searchform" action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search Jobs Here..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>

            {% if user.is_authenticated %}
                <a href="{% url 'tracking' %}" class="btn text-dark m-2">Resume Matcher</a>
                <a href="{% url 'user-posts' user %}" class="btn text-dark m-2">My Posted Jobs</a>
                <a href="{% url 'post-create' %}" class="btn text-dark m-2">Create Jobs</a>
                <a href="{% url 'blog-about' %}" class="btn text-dark m-2">About</a>
                <a href="{% url 'profile' %}" class="btn text-dark m-2">{{ user.username }} (Profile)</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn text-dark m-2" style="background:none; border:none; padding:0;">Log Out</button>
                </form>
                <!-- <a href="{% url 'logout' %}" class="btn text-dark m-2">Log Out</a>
                  -->
            {% else %}
                <a href="{% url 'login' %}" class="btn text-dark m-2"><i class="fas fa-user-tie"></i> Log In</a>
                <a href="{% url 'register' %}" class="btn text-dark m-2"><i class="fas fa-sign-in-alt"></i> Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <div class="container my-bg">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <hr class="divider">
    <!-- Footer with contact information -->
    <footer class="footer mt-4 py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contact Information</h5>
                    <p>
                        <strong>Author:</strong> Nguyễn Nhật Hoa<br>
                        <strong>Email:</strong> nguyennhathoa6255@gmail.com<br>
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <h5>Follow Me</h5>
                    <a href="https://www.linkedin.com/in/nguyennhathoa/" class="btn btn-outline-success"><i class="fab fa-github-f"></i> LinkedIn</a>
                    <a href="https://github.com/nguyennhathoa6255" class="btn btn-outline-success"><i class="fab fa-github-f"></i> Github</a>
                    <a href="https://nguyennhathoa6255.github.io/" class="btn btn-outline-success"><i class="fab fa-github-f"></i> Portfolio</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'blog/main.js' %}"></script>
</body>
</html>
